<div class="modal fade" id="executeIllegal_shop" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createOrEditModalTitle">进行违规操作</h4>
            </div>
            <div class="modal-body" id="executeIllegalArea">
                @*内容*@
            </div>
        </div>
    </div>
</div>