@{
    ViewData["Title"] = "页面正在施工";
    Layout = "_IndexLayout";
}
<div class="container" style="padding:40px 0;background-color:#fff">
    <div style="text-align:center">
        <img src="/images/stir-fry.gif" alt="">
        <h1 style="color: #9d9d9d">页面正在施工...</h1>
    </div>
</div>

