<!-- 用于处理部门明细数据的弹出会话框 -->

<div class="modal fade" id="detailInformationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">部门详细数据</h4>
            </div>
            <div class="modal-body" id="detailInformationArea">

            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>*@
        </div>
    </div>
</div>
