@{
    ViewData["Title"] = "商家店铺信息设置";
    Layout = "_SystemLayout";
}

<meta charset="UTF-8">
    <form class="form-horizontal" action="/" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">店铺名称:</label>
            <div class="col-sm-10">
                <input type="text" name="" placeholder="店铺名称">
            </div>
        </div>
     
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">店铺LOGO:</label>
            <div class="col-sm-10">
                <input type="file" name="">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">LOGO预览:</label>
            <div class="col-sm-10">
                <img src="~/images/logo.png" alt="" style="width:200px;height:75px">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">店铺横幅:</label>
            <div class="col-sm-10">
                <input type="file" name="" placeholder="店铺名称">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">横幅预览:</label>
            <div class="col-sm-10">
                <img src="~/images/hf.jpg" alt="" style="width:100%;height:180px">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">店铺描述:</label>
            <div class="col-sm-10">
                <textarea type="text" name="" placeholder="请输入店铺描述"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">联系电话:</label>
            <div class="col-sm-10">
                <input type="text" name="" placeholder="请输入店铺的联系电话">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success" style="width:200px;margin-left:150px">提交</button>
            </div>
        </div>
</form>