body{
    background-color: white;
}
.order_payWay {
   height: 200px; padding-top: 30px; background-color:white;border-top: 3px solid #c72e00;border-bottom:3px solid #c72e00 ;border-radius: 5p
}
.order_payWay ul li {
    line-height: 50px;
}
    .order_payPass ul li {
        line-height: 50px;
    }
.payment:hover{
    border: 3px solid cornflowerblue;
}
.money{
    color: #ff8208;

}