@model ShiKe.ViewModels.ApplicationOrganization.ApplicationUserResetPasswordVM
@using ShiKe.CustomMvcCoreExtension;
@using ShiKe.Common.ViewModelComponents.ForMvcHelper

<div id="resetUserPassword_@Model.ID">
    <div class="shikeDefaultArea" data-text="" id="">
        <form action="../../ApplicationUser/SaveResetUserPassword" method="post"  id="ResetUserPasswordForm" 
              data-ajax-update='#resetUserPassword_@Model.ID'
              data-ajax-mode='replace'
              data-ajax='true'>

            <input type="hidden" id="ID" name="ID" value="@Model.ID" />
            <div class="form-horizontal">
                @{
                    var inputForMobilePassword = new HtmlInputItemSpecification()
                    {
                        ItemID = "Password",
                        ItemDisplayName = "密码",
                        ItemValue = Model.Password,
                        PlaceholderString = "请输入密码，密码长度大于6个字符",
                        AutofocusName = "",
                        OnfocusFuntion = "clearErrStyle(this.id)",
                        OnBlurFunction = ""
                    };
                    @Html.ShiKeBoorStrapInputPassword(inputForMobilePassword)

                    var inputForMobileConfirmPassword = new HtmlInputItemSpecification()
                    {
                        ItemID = "ConfirmPassword",
                        ItemDisplayName = "重复密码",
                        ItemValue = Model.ConfirmPassword,
                        PlaceholderString = "请重复输入与上面密码相同的内容。",
                        AutofocusName = "",
                        OnfocusFuntion = "clearErrStyle(this.id)",
                        OnBlurFunction = ""
                    };
                    @Html.ShiKeBoorStrapInputPassword(inputForMobileConfirmPassword)
                }

            </div>
        </form>
    </div>
</div>
