<footer>
    <div class="footer ">
        <div class="footer_center">
            <div class="foot_left">
                <div class="foot_b_a">
                    <ul>
                        <li id="foot_b_a_head">合作伙伴：</li>
                        <li><a href="http://www.zhms.cn/" target="_blank"> 中华美食网</a> |</li>
                        <li><a href="http://www.juanpi.com/" target="_blank"> 卷皮网</a> |</li>
                        <li><a href="http://www.cebnet.com.cn/" target="_blank"> 中国电子银行网</a> |</li>
                        <li><a href="http://www.99114.com/" target="_blank"> 电子商务平台</a> |</li>
                        <li><a href="http://www.301688.com/" target="_blank"> 三帝贸易网</a> |</li>
                        <li><a href="http://liuzhou.pztuan.com/" target="_blank"> 团购</a> |</li>
                        <li><a href="http://www.meishichina.com/" target="_blank"> 美食天下</a> |</li>
                    </ul>
                </div>
                <div class="foot_b_a">
                    <ul>
                        <li id="foot_b_a_head">关于我们：</li>
                        <li><a href="javascript:" onclick="Unfinished()"> 帮助中心</a> |</li>
                        <li><a href="javascript:" onclick="Unfinished()"> 联系我们</a> |</li>
                        <li><a href="javascript:" onclick="Unfinished()"> 发展历程</a> |</li>
                        <li><a href="javascript:" onclick="Unfinished()"> 媒体报道</a> |</li>
                    </ul>
                </div>
                <div class="foot_b_a">
                    <ul>
                        <li id="foot_b_a_head">官方关注：</li>
                        <li><a href="javascript:" onclick="Unfinished()"> RSS订阅</a> |</li>
                        <li><a href="javascript:" onclick="Unfinished()"> APP下载</a> |</li>
                        <li><a href="javascript:" onclick="Unfinished()"> 食客QQ空间</a> |</li>
                        <li><a href="javascript:" onclick="Unfinished()"> 食客新浪微博</a> |</li>
                        <li><a href="javascript:" onclick="Unfinished()"> 网站地图</a> |</li>                 
                    </ul>
                </div>
                <div class="foot_b_a">
                    <ul>
                        <li id="foot_b_a_head">网站声明：</li>
                        <li> ©2017 食客-美食美客 版权所有 &nbsp&nbsp</li>
                        <li> 京公网安备1101080*******号 &nbsp&nbsp</li>
                        <li> 网络文化经营许可证京网文[2017]***-199 </li>
                    </ul>
                </div>
               
            </div>

            <div class="foot_right">
                <ul>
                    <li id="foot_head">购物指南</li>
                    <li><a href="javascript:" onclick="Unfinished()">帐号注册</a></li>
                    <li><a href="javascript:" onclick="Unfinished()">购物流程</a></li>
                    <li><a href="javascript:" onclick="Unfinished()">付款方式</a></li>
                </ul>
                <ul>
                    <li id="foot_head">售后服务</li>
                    <li><a href="javascript:" onclick="Unfinished()">先行赔付</a></li>
                    <li><a href="javascript:" onclick="Unfinished()">退款退货流程</a></li>
                    <li><a href="javascript:" onclick="Unfinished()">投诉举报</a></li>
                </ul>
                <ul>
                    <li id="foot_head">商城保障</li>
                    <li><a href="javascript:" onclick="Unfinished()">正品保障</a></li>
                    <li><a href="javascript:" onclick="Unfinished()">物流配送</a></li>
                    <li><a href="javascript:" onclick="Unfinished()">24小时发货</a></li>
                    <li><a href="javascript:" onclick="Unfinished()">发票保障</a></li>
                </ul>
                <ul>
                    <li id="foot_head">商家服务</li>
                    <li><a href="javascript:" onclick="Unfinished()">商家中心</a></li>
                    <li><a href="javascript:" onclick="Unfinished()">商城规则</a></li>
                    <li><a href="javascript:" onclick="Unfinished()">商家帮助</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>
@*<footer style="text-align:center;background-color: #fff;">
        <div class="container" style="    background-color: rgba(255, 255, 255, 0.94);">
                  <hr />
                  <div class="row">
                      <div class="col-xs-3">
                          <h4><strong>获取更新</strong></h4>
                          <ul class="nav">
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">邮件订阅</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">官方QQ空间</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">官方新浪微博</a></li>
                          </ul>
                      </div>
                      <div class="col-xs-3">
                          <h4><strong>商家合作</strong></h4>
                          <ul class="nav">
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">商家营销平台</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">餐饮代理商招募</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">市场合作</a></li>
                          </ul>
                      </div>
                      <div class="col-xs-3">
                          <h4><strong>公司信息</strong></h4>
                          <ul class="nav">
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">关于我们</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">媒体报道</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">法律声明</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">营业执照</a></li>
                          </ul>
                      </div>
                      <div class="col-xs-3">
                          <h4><strong>用户帮助</strong></h4>
                          <ul class="nav">
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">申请退款</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">常见问题</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">问题反馈</a></li>
                              <li><a href="../../Home/Unfinished" style="background-color:transparent;padding:5px 15px">反诈骗公告</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <hr />
              <div class="container" style="height:100px;">
                  <p>&copy; 2017 - 食刻-美食每刻丨<a href="../../Home/Unfinished">XXX ICP备案999999号</a>丨<a href="../../Home/Unfinished">电子公告服务规则</a></p>
              </div>
    </footer>*@